html {
  width: 100%;
  height: 100%;
}

body {
  font-family: 'Helvetica-Regular';
  font-size: 13px;
  width: 100%;
  height: 100%;
  background: #fff url(../img/pat@2x.png) repeat center top;
}

img {
  max-height: 100%;
  max-width: 100%;
}

* {
  box-sizing: border-box;
}

ul {
  padding: 0;
  margin: 0;
  list-style: none outside none;
}

li {
  padding: 0;
  left: 0;
}

p {
  padding: 0;
  margin: 0;
}

.container {
  width: 960px;
  margin: 0 auto;
}

.clearfix::after {
  content: "";
  display: table;
  clear: both;   
}

.wrapper {
  position: relative;
  min-height: 100%;
  overflow: hidden;
  max-width: 100%;
  margin-bottom: 60px;
   
  &::after {
    content: "";
    display: block;
    position: relative;
    height: 80px;
  }
}

/* ------------------ download --------------------- */

.download {
  background: #37b7ec;
  padding-top: 9px;
  padding-bottom: 8px;
  display: none;
    
  &.top__text-320 {
    display: none;
  }
}

.downloadInfo {
  float: left;
  font-size: 0;
}

.logo-headerTop {
  display: inline-block;
  vertical-align: middle;
  margin-right: 7px;
}

.headerTop__text {
  display: inline-block;
  vertical-align: middle;
}

.top__text-name {
  font-size: 14px;
  color: #fff;
  display: block;
}

.top__text-download {
  font-size: 12px;
  color: #fff;
}

.clickElem {
  float: right;
}

.download-button {
  display: inline-block;
  vertical-align: middle;
  border-radius: 3px;
  background: #fff;
  text-decoration: none;
  color: #00adff;
  padding: 6px 25px 7px 26px;
  width: 110px;
}

.close-download {
  border: none;
  outline: none;
  font-size: 0;
  width: 14px;
  height: 14px;
  background: transparent;
  cursor: pointer;
  display: inline-block;
  vertical-align: middle;
  margin-left: 30px;
  position: relative;

  &::after,
  &::before {
    position: absolute;
    content: "";
    width: 14px;
    height: 1px;
    background: #fff;
    top: 4px;
    left: 0;
  }
}

.close-download::before {
  transform: rotate(45deg);
}

.close-download::after {
  transform: rotate(-45deg);
}

/* ------------------- header ------------------------ */

.main-header {
  background: #3c434a;
  padding-top: 9px;
  padding-bottom: 15px;
  margin-bottom: 30px;
}

.logo {
  display: block;
  float: left;
  width: 137px;
  margin-right: 150px;
}

.logo__img {
  display: block;
}

.text-signIn {
  float: left;
  color: #99b8c2;
  margin-top: 13px;
  letter-spacing: 0.3px;
}

.text-signIn__link {
  color: #37b7ec;
  text-decoration: none;
  border-bottom: 1px solid #37b7ec;
  font-family: 'helveticaneuemedium';
}

.accountMenu {
  float: right;
  margin-top: 13px;
}

.accountMenu__enter {
  color: #fff;
  text-decoration: none;
  display: block;
}

.registrationMenu {
  display: none;
}

/* ------------------ social-information ---------- */

.social-information {
  margin-bottom: 25px;
}

.alias {
  float: left;
}

.alias__avatar {
  display: inline-block;
  vertical-align: middle;
  margin-right: 15px;
}

.alias__name {
  display: inline-block;
  vertical-align: middle;
  font-size: 18px;
}

.social-information__right {
  float: right;
  margin-top: 11px;
  margin-bottom: 13px;
}

.socials {
  display: inline-block;
  vertical-align: middle;
}

.socials__item {
  display: inline-block;
  vertical-align: middle;
  margin-left: 20px;

  &:first-child {
    margin-left: 0;  
  }
}

.socials__link {
  display: block; 
}

.socials__link_fb .socials__icon {
  background-image: url('../img/sprite.png');
  background-position: -176px 0;
  width: 8px;
  height: 16px; 
}

.socials__link_tw .socials__icon {
  background-image: url('../img/sprite.png');
  background-position: -90px 0;
  width: 16px;
  height: 13px;
}

.socials__link_vk .socials__icon {
  background-image: url('../img/sprite.png');
  background-position: 0 0;
  width: 20px;
  height: 11px;
}

.socials__link_in .socials__icon {
  background-image: url('../img/sprite.png');
  background-position: 0 -81px;
  width: 16px;
  height: 15px;
}

.its-link {
  display: inline-block;
  vertical-align: middle;
  background-color: #92b6c4;
  border-radius: 4px;
  padding: 4px 8px 5px 6px;
  margin-left: 31px;
}

.its-link__link {
  color: #fff;
  text-decoration: none;
}

.breadcrumbs {
  margin-bottom: 17px;
}

.title {
  float: left;
  font-family: 'helveticaneuemedium';
  font-size: 20px;
}

.title {
  display: none;
}

.addCentrallo {
  float: right;
  display: block;
  border-radius: 3px;
  background-color: #37b7ec;
  color: #fff;
  padding: 8px 16px 9px 17px;
  border: none;
  outline: none;
  cursor: pointer;
}

.share-button {
  display: none;
}

/* ------------------ box1 --------------------- */

.box {
  background: #fff;
  padding: 30px 32px 26px 26px;
  position: relative;
  border-radius: 5px;
  margin-bottom: 12px;
}

.angle {
  position: absolute;
  content: "";
  top: 0;
  right: 0;
  border: 24px solid transparent;
  border-top: 24px solid  #ef4b2b;
  border-right: 24px solid  #ef4b2b;
  border-top-right-radius: 5px;
    
  &::after {
    position: absolute;
    content: "";
    background: url("../img/star.png");
    width: 15px;
    height: 14px;
    top: -17px;
    left: 3px;
  }
}

.star {
  position: absolute;
  top: 10;
  right: 10;
  width: 15px;
  height: 14px;
}

.star__img {
  display: block;
}

.list-notes__item {
  margin-bottom: 15px;
}

.list-notes__item:last-child {
  margin-bottom: 0;
}

.list-notes__text {
  font-size: 16px;
  color: #494949;
}

.list-notes__input {
  position: absolute;
  top: 0;
  left: -9999px;
}

.list-notes__label {
  position: relative;
  display: block;
}

.list-notes__elem {
  position: relative;
  width: 14px;
  height: 14px;
  border-radius: 2px;
  border: solid 2px #b8b8b8;
  display: inline-block;
  vertical-align: middle;
  margin-right: 10px;
}

.list-notes__elem::after {
  position: absolute;
  width: 0;
  height: 0;
  background-color: #3b99fc;
  content: '';
}

.list-notes__input:checked + .list-notes__elem::after {
  width: 100%;
  height: 100%;
  background-image: url(../img/check.svg);
  background-size: 10px 10px;
}

.list-notes__input:checked + .list-notes__elem {
  border: solid 2px #3b99fc;
}

.list-notes__text {
  display: inline-block;
  vertical-align: middle;   
}

.crumbs {
  margin-top: 30px;
}

.time-ago {
  float: left;
  font-size: 16px;
  color: #aeb4ba;
}

.share {
  float: right;
}

.share__item {
  display: inline-block;
  margin-left: 22px;
    
  &:first-child {
    margin-left: 0;   
  }
}

.share__link {
  display: block;
}

/* ------------------ box2 --------------------- */

.news__item {
  padding-top: 15px;
  padding-bottom: 15px;
  border-bottom: 0.5px solid #bdbdbd;
    
  &:first-child {
    padding-top: 0;    
  }

  &:last-child {
    padding-bottom: 0;
    border-bottom: 0;
  }
}

.news__text {
  color: #333;
  font-size: 16px;
  display: inline-block;
  vertical-align: middle;
}

.news__link {
  text-decoration: none;
}

.news__icon {
  display: inline-block;
  vertical-align: middle;
  margin-right: 18px;
  background: url('../img/list.svg');
  width: 16px;
  height: 14px;
}

.news__icon.news__icon_active {
  background: url('../img/list-red.svg');
}

.news__data {
  float: right;
  width: 160px;
}

.news__data-item {
  color: #858585;
  font-size: 16px;
}

.news__data-nubmer {
  float: left;
}

.news__data-time {
  float: right;
}

/* ------------------ box3 --------------------- */

.media__link {
  display: inline-block;
  margin-left: 13px;
  position: relative;
  margin-bottom: 10px;
    
  &:first-child {
    margin-left: 0;
  }
}

.media__resource-play {
  width: 60px;
  height: 60px;
  background: #00aeff;
  position: absolute;
  top: 50%;
  left: 50%;
  margin-left: -30px;
  margin-top: -30px;
  opacity: 0.9;
  border-radius: 50%;
    
  &::after {
    position: absolute;
    content: "";
    border: 11px solid transparent;
    border-left: 16px solid #fff;
    top: 21px;
    left: 24px;
  }
}

.media {
  font-size: 0;
  padding-bottom: 30px;
  border-bottom: 0.5px solid #bdbdbd;
}

.calendar {
  margin-top: 17px;
}

.calendar__img {
  display: inline-block;
  vertical-align: middle;
  margin-right: 16px;
}

.calendar__data {
  display: inline-block;
  vertical-align: middle;
  font-size: 16px;
  color: #858585;
}

/* ------------------ box4 --------------------- */

.description__text {
  font-size: 16px;
  line-height: 1.63;
  color: #494949;
  margin-bottom: 20px;
}

.description__photo {
  font-size: 0;
  padding-bottom: 24px;
  border-bottom: 0.5px solid #bdbdbd;
}

.description__photo-item {
  display: inline-block;
  vertical-align: top;
  margin-right: 12px;
  margin-top: 12px;

  &:last-child {
    margin-right: 0;
  }
}

.description__photo-img {
  display: block;
}

.contact-info {
  padding-top: 25px;
  padding-bottom: 25px;
  border-bottom: 0.5px solid #bdbdbd;
  font-size: 16px;
}

.map {
  float: left;
  width: 300px;
  margin-right: 16px;
}

.map__img {
  display: block;
}

.adress {
  width: 38.5%;
  float: left;
}

.adress__title {
  color: #383838;
  font-family: 'helveticaneuemedium';
  line-height: 1.1875;
  margin-bottom: 8px;
}

.adress__data {
  color: #858585;
  line-height: 1.125;
}

.adress__data-part {
  display: block;
  margin-bottom: 8px;  
}

.adress__onMap {
  display: block;
  text-decoration: none;
  color: #00adff;
  line-height: 1.125;
  margin-top: 16px;
  margin-bottom: 16px;
}

.download-file {
  margin-top: 25px;
  font-size: 0;
}

.download-file-item {
  display: inline-block;
  width: 125px;
  text-align: center;
  margin-right: 45px;

  &:last-child {
    margin-right: 0;
  }
}

.download-file__picture {
  display: inline-block;
  margin-bottom: 11px;
}

.download-file__img {
  display: block;
}

.download-file__name {
  display: inline-block;
  font-size: 14px;
  color: #333;
}

/* ------------------ box5 --------------------- */

.property {
  float: right;
  color: #009ce6;
  font-size: 16px;
}

.angle_protected {
  border-top: 24px solid  #3c434a;
  border-right: 24px solid  #3c434a;
  
  &::after {
    background: url("../img/lock.svg");
    width: 12px;
    height: 15px;
    top: -18px;
    left: 5px;
  }
}

/* ------------------ box6 --------------------- */

.box_opacity {
  opacity: 0.7;
}

.property_color-grey {
  color: #858585;
}

.angle_archived {
  border-top: 24px solid  #858585;
  border-right: 24px solid  #858585;
    
  &::after {
    background: url("../img/box.svg");
    width: 16px;
    height: 14px;
    top: -16px;
    left: 3px;
  }   
}

/* ------------------ footer ----------------- */      
.footer {
  height: 80px;
  background: #3c434a;
  width: 100%;
  margin-top: -80px;
}

.footer-content {
  color: #979ea4;
  font-size: 12px;
  padding-top: 36px;
}

.footer_text {
  float: left;
  margin-right: 250px;
}

.footer-menu {
  float: left;
}

.footer-social {
  float: right;
}

.footer-menu__item {
  display: inline-block;
  vertical-align: top;
  margin-left: 17px;

  &:first-child {
    margin-left: 0;   
  }
}

.footer-menu__link {
  text-decoration: none;
  color: #979ea4;
  text-transform: uppercase;
}

.footer-social__item {
  display: inline-block;
  vertical-align: bottom;
  margin-left: 17px;

  &:first-child {
    margin-left: 0;   
  }
}

.footer-social__link_tw-footer .footer-social__icon {
  background: url('../img/twi-foot.svg');
  width: 20px;
  height: 16px;
}

.footer-social__link_fb-footer .footer-social__icon {
  background: url('../img/fb-foot.svg');
  width: 10px;
  height: 20px;
}

.modalWin320 {
  display: none;
}

/* ------------------ adaptive768 ----------------- */ 

@media screen and (min-width: 768px) and (max-width: 959px) {
  .download {
    display: block;
  }
   
  
  .container {
    width: 720px;
  }
    
  .logo {
    width: 109px;
    margin-right: 79px;
  }
    
  .text-signIn {
    margin-top: 7px;
  }
    
  .accountMenu {
    margin-top: 7px;
  }
    
  .media__link-1 {
    width: 213.4px;
  }

  .media__link-2 {
    width: 205.7px;
  }

  .media__link-3 {
    width: 180px;
  }
    
  .box_protected {
    display: none;
  }
    
  .box_archived {
    display: none;
  }
    
  .footer_text {
    margin-right: 154px;      
  }
    
  .modalWin320 {
    display: none;
  }
}


/* ------------------ adaptive320 ----------------- */ 

@media screen and (max-width: 767px) {
  .container {
    width: 296px;
  }
  
  .download {
    display: block;

    .top__text-download {
      display: none;
    }

    .top__text-320 {
      display: block;
      font-size: 11px;
      color: #fff;
    }
      
    .close-download {
      margin-left: 16px;     
    }
      
    .download-button {
      padding: 7px 17px 7px 18px;
      width: 90px;
    }
      
    .clickElem {
      padding-top: 3px;     
    }
  }
    
  .main-header {
    padding-top: 7px;
    padding-bottom: 12px;
  }
    
  .logo {
    width: 108px;
    height: 29px;
    margin-right: 63px;
  }
 
  .text-signIn {
    display: none;
  }
  
  .registrationMenu {
    display: block;
    float: left;
    padding-top: 9px;
    padding-bottom: 4px;
  }
   
  .registrationMenu__link {
    display: block;
    text-decoration: none;
    color: #37b7ec;
    font-size: 13px;
  }
    
  .accountMenu {
    padding-top: 9px;
    padding-bottom: 5px;
    margin-top: 0;
  }
    
  .title-320 {
    display: block;
    font-size: 18px;
    margin-top: 20px;
  }
    
  .social-information__right {
    display: none;
  }
    
  .addCentrallo {
    padding-right: 12px;
    padding-left: 11px;
    width: 140px;
    float: left;
  }
 
  .share-button {
    float: right;
    display: block;
    border-radius: 3px;
    background-color: #fff;
    color: #3c434a;
    padding: 8px 16px 9px 41px;
    border: none;
    outline: none;
    cursor: pointer;
    width: 140px;
    position: relative;
      
    &::after {
      position: absolute;
      content: "";
      background-image: url(../img/share.png);
      width: 16px;
      height: 16px;
      left: 41px;
    }
  }

  .box {
    padding: 13px 16px 30px;    
  }
    
  .list-notes__elem {
    margin-right: 7px;
  }

  .list-notes__text {
    width: 240px;
    vertical-align: top;
  }
   
  .news__data {
    float: none;
    width: 100%;
  }
    
  .news__link {
    display: block;
    margin-bottom: 8px;
  }
  
  .news__data-nubmer {
    float: right;
  }
    
  .news__data-time {
    float: left;
    margin-left: 35px;
  }
    
  .news__item {
    border-bottom: none;
    padding-top: 0;
  }
    
  .news__text {
    font-family: 'helveticaneuemedium';     
  }
 
  .media__link {
    width: 264px;
    display: block;
    margin-left: 0;
    margin-bottom: 6px;
  }

  .media__resource {
    width: 100%;    
  }
    
  .description__photo-item {
    margin-right: 0;
  }
  
  .description__photo-item-1 {
    width: 180px;
    margin-right: 6px;
  }
    
  .description__photo-item-2 {
    width: 77px;     
  }
    
  .description__photo-item-3 {
    width: 264px;     
  }
    
  .description__photo-item-4 {
    width: 264px;     
  }
    
  .description__photo-img {
    width: 100%;   
  }
    
  .map {
    float: none;
    width: 100%;
    margin-bottom: 12px;
  }
    
  .adress {
    float: none;
    width: 100%;
  }
    
  .download-file-item {
    margin-right: 0;
    margin-bottom: 29px;
  }
    
  .box_protected {
    display: none;
  }

  .box_archived {
    display: none;
  }
    
  .footer_text {
    display: none;
  }
    
  .footer-social {
    margin-top: -6px;
  }

  /* ----------------- modalWindow ---------------------- */
    
  .modalWin320 {
    display: none;
    width: 280px;
    border-radius: 3px;
    background: #fff;
    position: fixed;
    z-index: 6;
    top: 180px;
    left: 50%;
    margin-left: -140px;
  }

  .modalWin320-top {
    background: #fff;   
  }

  .modalWin320__title {
    display: inline-block;
    color: #404143;
    font-size: 22px;
    padding-bottom: 16px;
    padding-top: 18px;
    margin-left: 110px;
  }

  .modalWin320-bottom {
    background: #f0f5fa;
    padding-top: 21px;
    padding-bottom: 30px;
  }

  .modalWin320__main-link {
    font-size: 20px;
    color: #fff;
    background: #37b7ec;
    text-align: center;
    width: 151px;
    display: block;
    margin: 0 auto;
    margin-bottom: 40px;
  }

  .modalWin320__list {
    text-align: center;
    font-size: 0;
  }

  .modalWin320__item {
    display: inline-block;
    vertical-align: middle;
    margin-left: 20px;

    &:first-child {
      margin-left: 0;  
    }
  }

  .modalWin320__link {
    display: block;
    width: 36px;
    height: 36px;
    background: #3a589c;
    border-radius: 50%;
    position: relative;
  }

  .modalWin320__link_fb .modalWin320__icon {
    background-image: url('../img/sprite.png');
    background-position: -176px 0;
    width: 8px;
    height: 16px; 
  }

  .modalWin320__link_tw .modalWin320__icon {
    background-image: url('../img/sprite.png');
    background-position: -90px 0;
    width: 16px;
    height: 13px;
  }

  .modalWin320__link_tw {
    background: #29a9e1;   
  }

  .modalWin320__link_vk {
    background: #5a7ba0;   
  }

  .modalWin320__link_in {
    background: #007bb8;   
  }

  .modalWin320__link_vk .modalWin320__icon {
    background-image: url('../img/sprite.png');
    background-position: 0 0;
    width: 20px;
    height: 11px;
  }

  .modalWin320__link_in .modalWin320__icon {
    background-image: url('../img/sprite.png');
    background-position: 0 -81px;
    width: 16px;
    height: 15px;
  }

  .modalWin320__icon {
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    margin: auto;
    position: absolute;
  }

  .close-popup320 {
    border: none;
    outline: none;
    font-size: 0;
    width: 14px;
    height: 14px;
    background: transparent;
    cursor: pointer;
    float: right;
    position: relative;
    margin-top: 14px;
    margin-right: 13px;

    &::after,
    &::before {
      position: absolute;
      content: "";
      width: 14px;
      height: 2px;
      background: #757e87;
      top: 5px;
      right: 0;
    }
  }

  .close-popup320::before {
    transform: rotate(45deg);
  }

  .close-popup320::after {
    transform: rotate(-45deg);
  }

  .modal-overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: #000;
    opacity: 0.5;
    display: none;
    z-index: 5;
  }
    
  .modal-show {
    display: block;
  }
}

/* ------------------- tooltip ----------- */

.tooltip {
  background: #404040;
  padding: 10px 14px;
  font-size: 14px;
  color: #fff;
  opacity: 0.7;
  border-radius: 3px;
  position: fixed;
}

.tooltip::after {
  content: '';
  position: absolute;
  left: 64px;
  bottom: -11px;
  border: 6px solid transparent;
  border-top: 6px solid #404040;
}

.hide {
  display: none;
}






